<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DataTrans.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataTrans.Properties.Settings>
            <setting name="MachineName" serializeAs="String">
                <value>检验仪器</value>
            </setting>
            <setting name="ProgramName" serializeAs="String">
                <value>仪器通信中继程序</value>
            </setting>
            <setting name="ShortcutName" serializeAs="String">
                <value>仪器通信中继程序</value>
            </setting>
            <setting name="CleaningTimer" serializeAs="String">
                <value>1800000</value>
            </setting>
            <setting name="ApplyTimer" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ConnectWay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LISport" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="SerialPortNo" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="SerialBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="SerialParityCheck" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="SerialDataBit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="SerialStopBit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>5999</value>
            </setting>
            <setting name="ClientIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ClientPort" serializeAs="String">
                <value>5999</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FileNameExtension" serializeAs="String">
                <value>txt</value>
            </setting>
            <setting name="FileKeepFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileTimer" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ClientTimer" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="FileWritePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FileWriteExtension" serializeAs="String">
                <value>txt</value>
            </setting>
            <setting name="SendBuff" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="LogsReserve" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FileConnectLIS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileClassMethod" serializeAs="String">
                <value />
            </setting>
            <setting name="CacheHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="CachePort" serializeAs="String">
                <value>1972</value>
            </setting>
            <setting name="CacheUserID" serializeAs="String">
                <value>_system</value>
            </setting>
            <setting name="CachePassword" serializeAs="String">
                <value>SYS</value>
            </setting>
            <setting name="CacheNamespace" serializeAs="String">
                <value>DHC-LISDATA</value>
            </setting>
            <setting name="FileMI" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MainPage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialRTSEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TerminalPassword" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="TerminalPort" serializeAs="String">
                <value>8008</value>
            </setting>
            <setting name="MacStatus" serializeAs="String">
                <value />
            </setting>
            <setting name="LISStatus" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteLogPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="RecEncode" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="SendEncode" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="LogEncode" serializeAs="String">
                <value>Default</value>
            </setting>
        </DataTrans.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="InterSystems.Data.CacheClient" publicKeyToken="ad350a26c4a4447c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
